.scroll-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.main-content {
  display: grid;
  place-items: center;
  height: 100dvh;
  position: sticky;
  perspective: 1000px;
  perspective-origin: center;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100dvh;
  scale: 1.1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  transform-origin: center;
  background-image: url("/Raya Lucaria by newoldmax.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 120% auto;
}

.main-content .sigil-container {
  position: relative;
}

.sigil-container svg {
  width: 395px;
  aspect-ratio: 0.849 / 1;
  color: var(--sigilColor);
}

.sigil-container > div {
  position: absolute;
  text-align: center;
  width: max-content;
  translate: -50% -50%;
  top: 50%;
}
