#highlights {
  max-width: 1130px;
  margin: 10rem auto 0;

  .highlightsImg {
    width: 850px;
    aspect-ratio: 3/2;
    background-image: url("/Academy.jpg");
    background-color: var(--visitColor);
    background-repeat: no-repeat;
    background-position-x: 50%;

    &.active {
      animation: highlightsImgAnim 8s forwards ease-out;
    }
  }

  .textContent {
    width: 50ch;
    font-size: 1.25rem;
    margin-left: auto;
    position: relative;
    bottom: 10rem;

    ul {
      padding-left: 1em;
    }
  }
  @media screen and (max-width: 800px) {
    margin-top: 1rem;
    padding: 1rem;

    .highlightsImg {
      width: 100%;
    }

    .textContent {
      margin-top: 0.5rem;
      bottom: 0;
      width: 100%;
    }
  }
}

@keyframes highlightsImgAnim {
  from {
    background-position-y: 0%;
    background-size: 200%;
  }
  to {
    background-position-y: 50%;
    background-size: 100%;
  }
}
