#academySeal {
  position: relative;
  max-width: 1130px;
  margin-inline: auto;
  box-shadow: 0 0 1rem 0 #4a6998;

  img {
    display: block;
    width: 100%;
    aspect-ratio: 505 / 292;
    object-fit: cover;
  }

  p {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    max-width: 40ch;
    text-align: right;
    font-size: 0.875rem;
  }
}
