#welcome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100dvh;
  max-width: 1108px;
  padding-top: 2rem;
  margin-inline: auto;
  position: relative;

  .textContainer {
    color: var(--textColor);
    position: absolute;
    top: 46%;
    left: 0;
    max-width: 60ch;
    z-index: 2;
    translate: 0 50%;
  }

  .imgContainer {
    width: 900px;
    aspect-ratio: 720 / 433;
    background-color: var(--visitColor);
    position: relative;
    overflow: hidden;

    & > img {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
      animation: welcomeImgAnim 9000ms 800ms forwards ease-out;
    }
  }
}

@keyframes welcomeImgAnim {
  from {
    width: 250%;
    right: 0;
    translate: 0 -50%;
  }
  to {
    width: 100%;
    right: 50%;
    translate: 50% -50%;
  }
}
