#rennalaMessage {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .imgContainer {
    position: relative;
    // left: 70px;

    h2 {
      position: absolute;
      inset: auto auto 32% 50%;
      width: 100%;
      transform: translate(-50%, 0) skew(0deg, -14deg);
      text-shadow: 4px 4px 7px #041e26, 0 0 1px #071142, 0 0 1px #071142,
        0 0 1px #071142;
    }

    img {
      display: block;
      width: 565px;
      height: 628px;
    }
  }

  p {
    max-width: 565px;
  }
}
