#firstStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;

  img {
    width: 1000px;
  }

  p {
    position: relative;
    bottom: 8rem;
    max-width: 520px;
  }

  @media screen and (max-width: 800px) {
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
      scale: 1.25;
    }

    p {
      bottom: unset;
    }
  }
}
